.product {
    &__item {
        padding: 12px;
        border-radius: 8.291px;
        border: 1.083px solid #fff;
        background: #fff;
        &__image {
            &__wrap {
                position: relative;
            }

            &__btn {
                position: absolute;
                top: 20px;
                right: 20px;
                line-height: 0;
                height: auto;
                padding: 5px;
                border-radius: 4.146px;
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }
}
.swiper-button-prev,
.swiper-button-next {
    color: #171717 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-next::before {
    font-size: 32px;
}

.swiper-pagination-bullet-active {
    width: 33px;
    border-radius: 26px;
    transition: 0.3s;
}

.swiper-pagination-bullet {
    background: #0063a9;
    opacity: 1;
}
