.product {
    &__item {
        padding: 12px;
        border-radius: 8.291px;
        border: 1.083px solid #fff;
        background: #fff;
        &__image {
            &__wrap {
                position: relative;
            }

            &__btn {
                position: absolute;
                top: 20px;
                right: 20px;
                line-height: 0;
                height: auto;
                padding: 5px;
                border-radius: 4.146px;
                background: rgba(255, 255, 255, 0.5);
            }
        }
        &__text {
            color: #1a1919;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.28px;
        }
        &__price {
            color: #000;
            font-size: 19px;
            font-weight: 700;

            &.red {
                color: #ff0000;
            }
        }
        &__sales {
            color: #808080;
            font-size: 14px;
            font-weight: 700;
            text-decoration: line-through;
        }
        &__status {
            color: #73cb5e;
            font-size: 12px;
            font-weight: 500;
        }
        &__instock {
            color: #3286c2;
            font-size: 12px;
            font-weight: 400;
            position: relative;
            left: 10px;

            &::before {
                content: "";
                position: absolute;
                top: calc(50% - 2.5px);
                left: -10px;
                width: 5px;
                height: 5px;
                background: #3286c2;
                border-radius: 50%;
            }
        }
    }
}
