* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    padding: 72px 100px 30px 100px;
    background: linear-gradient(107deg, #3186c3 6.46%, #004f86 68.08%);
    .footer {
        padding-bottom: 132px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        .logo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 42px;
            .logo__desc {
                color: #fff;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 21px */
            }
            .logo__store {
                display: flex;
                gap: 18px;
            }
        }
        .adress {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            .adress__main {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h2 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
        .company,
        .company__info {
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: flex-start;
            .company__info {
                gap: 15px;
                p {
                    cursor: pointer;
                }
            }
        }
        .contacts,
        .contacts__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            .contacts__info {
                gap: 20px;
                background: none;
                .contacts__email,
                .contacts__number {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
            button {
                display: flex;
                align-items: center;
                border-radius: 100px;
                background: #fff;
                color: #2cb742;
                font-family: Gilroy;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                border: none;
                padding: 6px 14px;
                gap: 13px;
                cursor: pointer;
                .whats {
                    color: #2cb742;
                }
            }
        }
    }

    span {
        color: #e0e0e0;
        font-family: Gilroy;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    p {
        color: #fff;
        font-family: Gilroy;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 24px */
    }

    h1 {
        color: #fff;
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    img {
        cursor: pointer;
    }
    .unfooter {
        padding-top: 33px;
        display: flex;
        justify-content: space-between;
        p {
            color: var(--Transparent-white, rgba(255, 255, 255, 0.5));
            font-family: Gilroy;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 21px */
        }
        .footer__store {
            display: flex;
            gap: 15px;
        }
    }
    a {
        color: #fff;
        font-family: Gilroy;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
    }
}
